body {
    background-color: #f5f5f5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
  }

#title {
    font-size: 18px;
    font-weight: bold;
    color: #8C1D40;
    margin: 0 0 10px 0;
  }


label {
    display: block;
    margin-top: 1rem;
}

input {
    width: 100%;
}

button {
    background:  #FFC627;
    border: 0;
    border-radius: 4px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 12px 12px;
    margin-top: 12px;
    font-weight: bold;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
}

#error {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
}

#errorMsg {
  display: block;
}

#form {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.loginFormField::placeholder {
  color: #3a3a3a;
}

.loginFormField {
  padding: 0px 0px 5px 5px;
}

#userName {
  margin-left: 7rem;
  margin-bottom: 0.5rem;
}

#userEmail {
  margin-top: 0rem;
  margin-left: 7rem;
}