*
{
    font-family: 'Raleway', sans-serif;
}

ul
{
    list-style-type: square;
}

button
{
    width: 175px;
    height: 30px; 
    font-size: 18px; 
    border-radius: 5px; 
    border: solid gray 1px; 
    margin-bottom: 1em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: #000000;
}

/* The Modal 
Design for this element is from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 50%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
/* The Loader 
Design for this element is from https://www.w3schools.com/howto/howto_css_loader.asp 
*/

  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

